<div class="main">
    <section class="main__hero">
        <h1>Web Developer Tools</h1>
    </section>
    <section class="main__tools">
        <div class="tools__icons" >
            <img src="../../../../assets/images/angular.png" alt="angular_btn">
            <img src="../../../../assets/images/css-alt.png" alt="css_btn">
            <img src="../../../../assets/images/bootstrap.png" alt="bootstrap_btn">
            <img src="../../../../assets/images/git.png" alt="git_btn">
        </div>
        <div class="main__icons" >
            <img src="../../../../assets/images/typescript (1).png" alt="typescript_btn">
            <img src="../../../../assets/images/html.png" alt="html_btn">
            <img src="../../../../assets/images/mongodb.png" alt="mongodb_btn">
            <img src="../../../../assets/images/microsoft-dot-net.png" alt=".net_btn">
        </div>
        <div class="main__icons" >
            <img src="../../../../assets/images/javascript.png" alt="javascript_btn">
            <img src="../../../../assets/images/mysql.png" alt="mysql_btn">
            <img src="../../../../assets/images/nodejs.png" alt="nodejs_btn">
            <img src="../../../../assets/images/github.png" alt="github_btn">
        </div>
        <div class="main__icons" >
            <img src="../../../../assets/images/visual-studio-code.png" alt="visual-studio-code_btn">
            <img src="../../../../assets/images/visualstudio (1).png" alt="visual-studio_btn">
            <img src="../../../../assets/images/wordpress (1).png" alt="wordpress_btn">
            <img src="../../../../assets/images/sourcetree.png" alt="sourcetree_btn">
        </div>
     
       
    
       
    </section>
</div>
