@import "variables";

.footer {
    width: 100%;
    font-size: 10px;
    color: $light;
    background-color: $principal;
    padding: 0.2rem;
    display: flex;
    align-items: center;
    justify-content:flex-start;

    @include mobileFirst(xs) {  
       font-size: 15px;
       padding: 0.5rem;
      }
      
      @include mobileFirst(laptop) {  
        font-size: 17px;
        padding: 1rem;
      }


}