<section class="main">
    <div class="main__title">
        <h1>Projects</h1>
    </div>  
    <article class="main__projects">
        <div>
            <img class="capture" src="../../../../assets/images/AppGestionVentas.png" alt="">  
        </div>     
        <h2>App-Web</h2>
        <h2>Sales Management</h2>
        <h3>MySQL | NodeJs | Angular </h3>     
        <div class="icons">
            <div class="icon_git">
                <a href="https://github.com/JuanmaMM78/APP_Ventas" target="_blank"><img src="../../../../assets/images/github (2).png" alt=""></a>
            </div>
            <div class="icon_git">
                <a href="https://github.com/JuanmaMM78/Gestion_App" target="_blank"><img src="../../../../assets/images/github (2).png" alt=""></a>
            </div>
            <div class="icon_url">
                <a href="https://gestion-ofertas.netlify.app/login" target="_blank"><img src="../../../../assets/images/web.png" alt=""></a>
            </div> 
        </div>   
    </article>
    <article class="main__projects">
        <div>
            <img class="capture" src="../../../../assets/images/MyWeb.png" alt="">  
        </div>     
        <h2>Web Portfolio</h2>
        <h3>Angular | NodeJs </h3>     
        <div class="icons">
            <div class="icon_git">
                <a href="https://github.com/JuanmaMM78/porfolio" target="_blank"><img src="../../../../assets/images/github (2).png" alt=""></a>
            </div>
            <div class="icon_url">
                <a href="" target="_blank"><img src="../../../../assets/images/web.png" alt=""></a>
            </div> 
        </div>   
    </article>
    <article class="main__projects">
        <div>
            <img class="capture" src="../../../../assets/images/FoodFit.png" alt="">  
        </div>     
        <h2>Web Portfolio</h2>
        <h3>Angular | NodeJs </h3>     
        <div class="icons">
            <div class="icon_git">
                <a href="https://github.com/JuanmaMM78/AppFoodFit" target="_blank"><img src="../../../../assets/images/github (2).png" alt=""></a>
            </div>
            <div class="icon_url">
                <a href="" target="_blank"><img src="../../../../assets/images/web.png" alt=""></a>
            </div> 
        </div>   
    </article>
</section>