<div class="main">
    <section class="main__hero" >
        <h1>Hello World!!</h1>
    </section>
    <section class="main__rrss">
        <a href="https://github.com/JuanmaMM78" target="_blank"><img class="icon" src="../../../../assets/images/github (1).png" alt="linkedin_btn" ></a>
        <a href="https://www.linkedin.com/in/juanmamm78/" target="_blank"> <img class="icon" src="../../../../assets/images/linkedin (1).png" alt="github_btn"></a>
        <a src="/src/assets/docs/CVV Juan Manuel Martinez- 2023.pdf" target="_blank"> <img class="icon" src="../../../../assets/images/cv.png" alt="curriculum_btn"></a>
    </section>
</div>